body {
    background: pink;
    text-align: center;
    font-family: verdana;
    margin: 30px;
}

h1, h2 {
    text-align: center;
    font-family: verdana;
}

#patternsTable {
    font-family: verdana;
    text-align: center;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-spacing: 500px;
}

.tableRows {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

tr:hover {
    background-color: lightpink;
}

#moreImages {
    text-align: left;
    background-color: lightsteelblue;
    opacity: 50%;
    
}

#moreImages:hover {
    opacity: 100%;
}
